@model HeaderVM

<header>
    <div class="main">
        <div class="tophead">
            <div class="wrappertophead">
                <a class="mail sosials" href=""><i style="margin-right: 5px;" class="bi bi-envelope foot-icon"></i><span class="mt">@Model.Settings["Email"]</span></a>
                <a class="tel sosials" href="#"><i class="bi bi-telephone-fill foot-icon"></i><span class="mt">@Model.Settings["PhoneNumber"]</span></a>
            </div>
            <div class="sosial">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="sosials p-2 pl-0"><span class="login">@User.Identity.Name</span></a>
                    <a class="sosials p-2 pl-0" asp-action="SignOut" asp-controller="Account"><span class="login">SIGN OUT</span></a>

                    if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
                    {
                        <a class="sosials p-2 pl-0" asp-area="Admin" asp-action="Index" asp-controller="Dashboard"><span class="login">ADMIN PANEL</span></a>
                    }
                }
                else
                {
                    <a class="sosials" asp-action="SignIn" asp-controller="Account" class="p-2 pl-0"><span class="login">LOG IN</span></a>
                    <a class="sosials" asp-action="SignUp" asp-controller="Account" class="p-2 pl-0"><span class="login">SIGN UP</span></a>
                }
                <a class="sosials" href="#">@Html.Raw(Model.Settings["Twitter"])</a>
                <a class="sosials" href="#">@Html.Raw(Model.Settings["Facebook"])</a>
                <a class="sosials" href="#">@Html.Raw(Model.Settings["Linkedin"])</a>
                <a class="sosials" href="#">@Html.Raw(Model.Settings["Instagram"])</a>
            </div>
        </div>

        <div class="menu-wrap">
            <input type="checkbox" class="toggler">
            <div class="hamburger"><div></div></div>
            <div class="menu">
                <div>
                    <div>
                        <ul>
                            <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                            <li><a asp-action="Index" asp-controller="About">About</a></li>
                            <li><a asp-action="Index" asp-controller="Shop">Shop</a></li>
                            <li><a asp-action="Index" asp-controller="Blog">Blog</a></li>
                            <li><a asp-action="Index" asp-controller="Contact">Contact</a></li>
                            <li><a asp-action="SignIn" asp-controller="Account">Login</a>/<a asp-action="SignUp" asp-controller="Account">Sign up</a></li>
                            <li class="basket">
                                <a class="basket-nav" asp-action="Index" asp-controller="Basket">
                                    <span><i class="fas fa-shopping-basket basket "></i></span>
                                    <sup class="product-count">@Model.BasketCount</sup>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="wrapper" style="padding-bottom: 10px;">
            <nav class="nav" style="margin-top: 10px;">
                <div class="logo"><a asp-action="Index" asp-controller="Home"><img style="width: 80px" height="80px" src="~/assets/images/@Model.Settings["Logo"]" alt="" /></a> </div>
                <div class="navdiv">
                    <ul class="navul">
                        <li class="navli"><a class="nava" asp-action="Index" asp-controller="Home">HOME</a></li>
                        <li class="navli"><a class="nava" asp-action="Index" asp-controller="About">ABOUT</a></li>
                        <li class="navli"><a class="nava" asp-action="Index" asp-controller="Shop">SHOP</a></li>
                        <li class="navli"><a class="nava" asp-action="Index" asp-controller="Blog">BLOG</a></li>
                        <li class="navli"><a class="nava" asp-action="Index" asp-controller="Contact">CONTACT</a></li>
                        <li class="basket">
                            <a class="basket-nav" asp-action="Index" asp-controller="Basket">
                                <span><i class="fas fa-shopping-basket basket "></i></span>
                                <sup class="product-count">@Model.BasketCount</sup>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>