@model ShopVM

@{
    ViewData["Title"] = "Index";
}

<section data-aos="fade-up" style="background-image: url(assets/images/about-backgroundrealfirst.jpg);" class="dealofday intro aos-init aos-animate first-sec">
    <div data-aos="fade-right" class="divday">
        <p class="p-intro">HOME<i class="bi bi-chevron-right"></i><span class="span-intro">BLOG</span></p>
        <h4 class="h4-intro">SHOP</h4>
    </div>
</section>

<section>
    <!-- products section starts -->
    <section class="products no-select">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left-sidebar">
                        <div class="search">
                            <h4>Search</h4>
                            <div class="search-product">
                                <input placeholder="search..." class="search-product-input">
                            </div>
                        </div>
                        <div class="categories">
                            <h4>Categories</h4>
                            <ul>
                                @foreach (var item in Model.Categories)
                                {
                                    <li class="category-filter" category-id="@item.Id">@item.Name (@item.ProductCount)</li>
                                }
                            </ul>
                        </div>
                        <div class="categories brand">
                            <h4>Brands</h4>
                            <ul>
                                @foreach (var item in Model.Brands)
                                {
                                    <li class="brand-filter" brand-id="@item.Id">@item.Name</li>
                                }
                            </ul>
                        </div>
                    </div>

                    <div class="banner-img img-full">
                        <a href="#"><img class="img-fluid mx-auto" src="~/assets/images/@Model.Advert.Image" style="height: 600px;width: 400px;"></a>
                    </div>
                </div>
                <div class="col-lg-9 products-side">
                    <div class="row product-items">
                        @{
                            var products = Model.PaginateProducts?.Datas ?? Model.Products;
                        }

                        @foreach (var item in products)
                        {
                            <div class="col-lg-4 col-md-6 pb-5 product-item">
                                <div class="productt">
                                    <div class="product-image"
                                         style="background-image: url(assets/images/@item.ProductImages.FirstOrDefault(m => m.IsMain)?.Name);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center" product-id="@item.Id">
                                                <i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5> <a class="productt-name" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a> </h5>
                                        <p><span>$</span><span class="price">@item.Price.ToString("N2")</span></p>
                                    </div>
                                </div>
                            </div>
                        }

                        @if (Model.PaginateProducts != null)
                        {
                            <nav class="paginate" data-aos="fade-right" style="display: flex; justify-content: center; margin-bottom: 20px;" aria-label="Page navigation example">
                                <ul class="pagination">
                                    <li class="page-item @(!Model.PaginateProducts.Previous ? "disabled" : "")">
                                        <a asp-route-page="@(Model.PaginateProducts.CurrentPage - 1)" class="page-link" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>

                                    @for (int i = 1; i <= Model.PaginateProducts.TotalPage; i++)
                                    {
                                        <li class="page-item @(Model.PaginateProducts.CurrentPage != i ? "" : "disabled")"><a asp-route-page="@i" class="page-link">@i</a></li>
                                    }

                                    <li class="page-item @(Model.PaginateProducts.Next ? "" : "disabled")">
                                        <a asp-route-page="@(Model.PaginateProducts.CurrentPage + 1)" class="page-link" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        }
                    </div>
                </div>
            </div>
    </section>
    <!-- products section ends -->
</section>

@section Scripts {
    <script src="~/js/shop.js"></script>
    <script src="~/js/basket.js"></script>
}