@model ShopVM

@{
    ViewData["Title"] = "Index";
}

<section data-aos="fade-up" style="background-image: url(assets/images/about-backgroundrealfirst.jpg);" class="dealofday intro aos-init aos-animate first-sec">
    <div data-aos="fade-right" class="divday">
        <p class="p-intro">HOME<i class="bi bi-chevron-right"></i><span class="span-intro">BLOG</span></p>
        <h4 class="h4-intro">SHOP</h4>
    </div>
</section>

<section>
    <!-- products section starts -->
    <section class="products no-select">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left-sidebar">
                        <div class="search">
                            <h4>Search</h4>
                            <div class="search-product">
                                <input type="search" name="" id="" placeholder="Search products"
                                       class="search-product-input">
                                <img src="./search-product-icon.png" alt="" class="search-product-icon">
                            </div>
                        </div>
                        <div class="categories">
                            <h4>Categories</h4>
                            <ul>
                                @foreach (var item in Model.Categories)
                                {
                                    <li>@item.Name (@item.ProductCount)</li>
                                }
                            </ul>
                        </div>
                        <div class="categories brand">
                            <h4>Brands</h4>
                            <ul>
                                @foreach (var item in Model.Brands)
                                {
                                    <li>@item.Name</li>
                                }
                            </ul>
                        </div>


                    </div>

                    <div class="banner-img img-full">
                        <a href="#"><img class="img-fluid mx-auto" src="~/assets/images/@Model.Advert.Image" style="height: 600px;width: 400px;"></a>
                    </div>
                </div>
                <div class="col-lg-9 products-side">
                    <div class="row">
                        @foreach (var item in Model.Products)
                        {
                            <div class="col-lg-4 col-md-6 pb-5">
                                <div class="productt" id="1">
                                    <div class="product-image"
                                         style="background-image: url(assets/images/@item.ProductImages.FirstOrDefault(m => m.IsMain)?.Name);">
                                        <div class="basket-wishlist-compare d-flex justify-content-center">
                                            <div class="add-basket text-center">
                                                <i class="fas fa-shopping-basket"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product-inf">
                                        <h5> <a class="productt-name" asp-action="Detail" asp-route-id="@item.Id">@item.Name</a> </h5>
                                        <p><span>$</span><span class="price">@item.Price.ToString("N2")</span></p>
                                    </div>
                                </div>
                            </div>
                        }

                        <nav data-aos="fade-right" style="display: flex; justify-content: center; margin-bottom: 20px;" aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
    </section>
    <!-- products section ends -->
    </main>
</section>