@model Paginate<ContactListVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Product</h4>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>
                                FullName
                            </th>
                            <th>
                                Email
                            </th>
                            <th>
                                Subject
                            </th>
                            <th>
                                Message
                            </th>
                            <th>
                                Setting
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Datas)
                        {
                            <tr>
                                <td>
                                    @item.FullName
                                </td>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    @item.Subject
                                </td>
                                <td>
                                    @item.Message
                                </td>
                                <td>
                                    <a class="btn btn-danger delete-item" id="@item.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="col-12">
                    <nav class="paginate" data-aos="fade-right" style="display: flex; justify-content: center; margin-bottom: 20px;" aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item @(!Model.Previous ? "disabled" : "")">
                                <a asp-route-page="@(Model.CurrentPage - 1)" class="page-link" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            @for (int i = 1; i <= Model.TotalPage; i++)
                            {
                                <li class="page-item @(Model.CurrentPage != i ? "" : "disabled")"><a asp-route-page="@i" class="page-link">@i</a></li>
                            }

                            <li class="page-item @(Model.Next ? "" : "disabled")">
                                <a asp-route-page="@(Model.CurrentPage + 1)" class="page-link" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>